html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 30px; }

.section {
  margin-bottom: 8rem; }

.main-background {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(5, 161, 182, 0.6), rgba(10, 77, 84, 0.4)), url(../images/roboHand.jpg);
  background-size: cover;
  background-position: top;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-primary {
  color: #9CE3FA;
  text-transform: capitalize;
  animation-name: leftSlide;
  animation-duration: 4s; }

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 35px; }

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.footer {
  padding: 1.5rem;
  background-color: #05A1B6; }

.contact-text {
  text-align: center;
  color: #0A4D54; }
  
.about-jumbo {
    background-color: #221F20; }

.about-text{
    height:75vh;
    text-align:center;
    color: #0A4D54;
}
.feature-box{
    margin-top: 3rem;
    transition: transform .3s;
}
.feature-box:hover {
    transform:translateY(-1.5rem) scale(1.03);
}
.experience-jumbo{
    background-color: #05445E;
    height:75vh;
}
.experience-header{
    color:rgba(10, 77, 84, 0.4);
    text-align: center;
}
.ecard{
perspective: 150rem;
position:relative;
text-align: center;
    color: #05A1B6;
    height:30rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rbga(0,0,0,0.15);
    transition: all 08s ease;
    backface-visibility: hidden;
    overflow: hidden;
}
.e-card__side {
    text-align: center;
    color: #333652;
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
.ecard__side--front{
    background-color: #05A1B6;
}
.ecard__side--back{
    background-image: linear-gradient(to right bottom, #05A1B6, #05A1B6);
    transform: rotateY(180deg);
}

.ecard:hover .ecard__side--front{
    transform: rotateY(-180deg)
}
.ecard:hover .ecard__side--back{
    transform: rotateY(0deg)
}
.ecard__picture{
    background-size: cover;
   height: 13rem;
   background-blend-mode: screen;
   -webkit-clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.ecard__picture--1{
    background-image: linear-gradient(to right bottom, rgba(5, 161, 182, 0.6), rgba(10, 77, 84, 0.4)), url(../images/roboHand.jpg);
}
.e-card__details {
    margin-top: 2rem; }
  .e-card__cta {
    position: absolute;
    margin-top: 7rem;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    font-weight: 100; }
